<a href="https://colab.research.google.com/github/polock11/supervised_and_unsupervised_learning/blob/main/Supervised_Learning_LinierReg_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Reg, Coefficient, MAE, R2_Score, MSE, MAPE, train_test_split

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_squared_error, r2_score, mean_absolute_error

#Linear Regression on bmw dataset

In [ ]:
df = pd.read_csv('bmw.csv')
df.head()

       model  year  price transmission  mileage fuelType   mpg  engineSize
0   5 Series  2014  11200    Automatic    67068   Diesel  57.6         2.0
1   6 Series  2018  27000    Automatic    14827   Petrol  42.8         2.0
2   5 Series  2016  16000    Automatic    62794   Diesel  51.4         3.0
3   1 Series  2017  12750    Automatic    26676   Diesel  72.4         1.5
4   7 Series  2014  14500    Automatic    39554   Diesel  50.4         3.0

In [ ]:
df.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

In [ ]:
X = df.drop(columns = ['transmission','model', 'price', 'mileage', 'fuelType'], axis = 1)
Y = df['price']

# Train Test Split Explained

* **X_train:** feature columns for training
* **X_test:** feature columns for testing
* **Y_train:** target variable columns for training
* **Y_test:** target variable columns for testing

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .20, random_state = 42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8624, 3) (2157, 3) (8624,) (2157,)

#Building the Model

In [ ]:
model = LinearRegression()

model = model.fit(X_train, y_train)

# take the features (X_train --> col1, col3, col3...) and here is the actual price (y_train --> one single column [col])
# find the relation between them

In [ ]:
co_ef = model.coef_
print(co_ef)

[ 3082.74013986    13.76071365 10246.93096715]

In [ ]:
intercept = model.intercept_
print(intercept)

#y(x) = m1x1 + m2x2 + m3x3 +c

-6218354.374534962

In [ ]:
f = X.columns

In [ ]:
y_x = pd.DataFrame({'frature': f,
                     'co_ef': np.round(co_ef,2)})
y_x.head()

      frature     co_ef
0        year   3082.74
1         mpg     13.76
2  engineSize  10246.93

In [ ]:
# now predict the price of the unseen data in X_test
y_pred = model.predict(X_test)
print(y_pred)

[18679.16412579 11485.42976357 36943.7789393  ... 27018.84867168
 29350.25384598 37045.60822035]

In [ ]:
lear = pd.DataFrame()
lear['price'] = y_test
lear['pred'] = y_pred
lear

       price          pred
8728   15300  18679.164126
761    15495  11485.429764
7209   39875  36943.778939
6685   21730  21607.784273
8548   13799  18889.703045
...      ...           ...
10677  12000  17754.115396
8418   11759  12791.650262
1702   21460  27018.848672
6965   52991  29350.253846
3125   52490  37045.608220

[2157 rows x 2 columns]

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print("mse = ", mse)

rmse = mean_squared_error(y_test, y_pred, squared=False)
print("rmse = ", rmse)

mae = mean_absolute_error(y_test, y_pred)
print("mae = ", mae)


r2 = r2_score(y_test, y_pred)
print("r_squared = ", r2)

mse =  50331324.00757972
rmse =  7094.457273645372
mae =  4877.019683494934
r_squared =  0.6107851192625311

#Linear Regression on VW dataset

In [2]:
data = pd.read_csv('vw.csv')
data

        model  year  price transmission  mileage fuelType   mpg  engineSize
0       T-Roc  2019  25000    Automatic    13904   Diesel  49.6         2.0
1       T-Roc  2019  26883    Automatic     4562   Diesel  49.6         2.0
2       T-Roc  2019  20000       Manual     7414   Diesel  50.4         2.0
3       T-Roc  2019  33492    Automatic     4825   Petrol  32.5         2.0
4       T-Roc  2019  22900    Semi-Auto     6500   Petrol  39.8         1.5
...       ...   ...    ...          ...      ...      ...   ...         ...
15152     Eos  2012   5990       Manual    74000   Diesel  58.9         2.0
15153     Fox  2008   1799       Manual    88102   Petrol  46.3         1.2
15154     Fox  2009   1590       Manual    70000   Petrol  42.0         1.4
15155     Fox  2006   1250       Manual    82704   Petrol  46.3         1.2
15156     Fox  2007   2295       Manual    74000   Petrol  46.3         1.2

[15157 rows x 8 columns]

In [3]:
print('--------------------------------------------------')
print('Unique Modles')
print('--------------------------------------------------')
display(data['model'].value_counts())

print('--------------------------------------------------')
print('Data Description')
print('--------------------------------------------------')
display(data.describe())

print('--------------------------------------------------')
print('Data Info')
print('--------------------------------------------------')
display(data.info())

--------------------------------------------------
Unique Modles
--------------------------------------------------

 Golf               4863
 Polo               3287
 Tiguan             1765
 Passat              915
 Up                  884
 T-Roc               733
 Touareg             363
 Touran              352
 T-Cross             300
 Golf SV             268
 Sharan              260
 Arteon              248
 Scirocco            242
 Amarok              111
 Caravelle           101
 CC                   95
 Tiguan Allspace      91
 Beetle               83
 Shuttle              61
 Caddy Maxi Life      59
 Jetta                32
 California           15
 Caddy Life            8
 Eos                   7
 Caddy                 6
 Caddy Maxi            4
 Fox                   4
Name: model, dtype: int64

--------------------------------------------------
Data Description
--------------------------------------------------

               year         price        mileage           mpg    engineSize
count  15157.000000  15157.000000   15157.000000  15157.000000  15157.000000
mean    2017.255789  16838.952365   22092.785644     53.753355      1.600693
std        2.053059   7755.015206   21148.941635     13.642182      0.461695
min     2000.000000    899.000000       1.000000      0.300000      0.000000
25%     2016.000000  10990.000000    5962.000000     46.300000      1.200000
50%     2017.000000  15497.000000   16393.000000     53.300000      1.600000
75%     2019.000000  20998.000000   31824.000000     60.100000      2.000000
max     2020.000000  69994.000000  212000.000000    188.300000      3.200000

--------------------------------------------------
Data Info
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15157 entries, 0 to 15156
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         15157 non-null  object
 1   year          15157 non-null  int64
 2   price         15157 non-null  int64
 3   transmission  15157 non-null  object
 4   mileage       15157 non-null  int64
 5   fuelType      15157 non-null  object
 6   mpg           15157 non-null  float64
 7   engineSize    15157 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 947.4+ KB

None

In [4]:
X = data.drop(columns= ['model', 'price', 'transmission', 'fuelType'], axis = 1)
Y = data['price']
display(X)
display(Y)

       year  mileage   mpg  engineSize
0      2019    13904  49.6         2.0
1      2019     4562  49.6         2.0
2      2019     7414  50.4         2.0
3      2019     4825  32.5         2.0
4      2019     6500  39.8         1.5
...     ...      ...   ...         ...
15152  2012    74000  58.9         2.0
15153  2008    88102  46.3         1.2
15154  2009    70000  42.0         1.4
15155  2006    82704  46.3         1.2
15156  2007    74000  46.3         1.2

[15157 rows x 4 columns]

0        25000
1        26883
2        20000
3        33492
4        22900
         ...
15152     5990
15153     1799
15154     1590
15155     1250
15156     2295
Name: price, Length: 15157, dtype: int64

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    Y, 
                                                    test_size=.20, 
                                                    random_state=42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(12125, 4) (3032, 4) (12125,) (3032,)

In [6]:
model = LinearRegression()
model = model.fit(X_train, y_train)
X.columns

Index(['year', 'mileage', 'mpg', 'engineSize'], dtype='object')

In [7]:
co_ef = model.coef_
print("Coefficeint: ",co_ef)

int_cept = model.intercept_
print("Intercept: ",int_cept)

coef_df = pd.DataFrame({'feature_var': X.columns,
                        'Coefficient': co_ef})
display(coef_df)

Coefficeint:  [ 1.48739376e+03 -8.48572114e-02 -8.58241212e+01  9.37268406e+03]
Intercept:  -2992133.6731303195

  feature_var  Coefficient
0        year  1487.393763
1     mileage    -0.084857
2         mpg   -85.824121
3  engineSize  9372.684065

In [8]:
y_pred = model.predict(X_test)
pref_df = coef_df = pd.DataFrame({'actual_val': y_test,
                                'prediction': np.round(y_pred,2)})

pref_df.head(10)

       actual_val  prediction
7342        14450    13865.01
10328       23950    24971.70
14992       10495    19559.81
8466         9990    10558.66
10347       21998    20074.34
2921        21995    23484.66
2021        27395    26370.91
14483       23498    25170.25
8221        10912    12745.10
10360       17998    20622.37

# Error

In [9]:
mse = mean_squared_error(y_test, y_pred)
print("mse = ", mse)

rmse = mean_squared_error(y_test, y_pred, squared=False)
print("rmse = ", rmse)

mae = mean_absolute_error(y_test, y_pred)
print("mae = ", mae)


r2 = r2_score(y_test, y_pred)
print("r_squared = ", r2)

mse =  15140519.16791276
rmse =  3891.082004778717
mae =  2529.828661949076
r_squared =  0.7448589068322595